<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Load Bootstrap 4 CSS | DO NOT REMOVE -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="">

    <!-- Load Bootstrap 4 & Jquery | DO NOT REMOVE -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <!-- Required META tag by Bootstrap | DO NOT REMOVE -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Load Layout Base Tag -->
    <link rel="stylesheet" type="text/css" href="/public/css/base_styles.css">
    <link rel="shorcut icon" href="/public/img/ristekdikti2.png">
    <title>Admin - Input Ijazah</title>
    <!-- Input CSS atau JS yang dibutuhkan setelah line ini -->
    <!-- Taruh file css di folder /css-->
    <!-- Taruh file js di /js-->

    <!-- Contoh cara input css, ganti sesuai kebutuhan -->
</head>

<body>
    <div class="container-fluid p-0">
        <div class="row equal no-gutters">
            <%- include("sidebar.ejs") %>
            <div class="col-12 col-sm-8 col-md-9 col-xl-10 wrapper">
                <%- include("topmenu.ejs") %>
                <div class="col-12 wrapper-container">
                    <div class="main-wrapper">
                        <div class="container">

                            <div class="row">
                                <!-- Silakan masukkan code tampilan divisi Anda di bagian ini. -->

                                <!-- Dibawah ini adalah template box yang kalian bisa pakai untuk pengembangan sistem -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous">
    </script>
    <script src="/public/js/sha256.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
    <script src="/public/js/notaryWebLib.js"></script>
    <script src="/public/js/app2.js"></script>
    <!-- TODO: Step 1: Include Fortmatic SDK Script -->
    <script src="/public/fortmatic/dist/fortmatic.js"></script>

</body>

</html>