<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Load Bootstrap 4 CSS | DO NOT REMOVE -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="">

    <!-- Load Bootstrap 4 & Jquery | DO NOT REMOVE -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="/public/fortmatic/dist/fortmatic.js"></script>
    <!-- Required META tag by Bootstrap | DO NOT REMOVE -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Load Layout Base Tag -->
    <link rel="stylesheet" type="text/css" href="/public/css/base_styles.css">
    <style>
        .box {
            position: relative;
            background: #ffffff;
            width: 100%;
        }

        .box-header {
            color: #444;
            display: block;
            padding: 10px;
            position: relative;
            border-bottom: 1px solid #f4f4f4;
            margin-bottom: 10px;
        }

        .box-tools {
            position: absolute;
            right: 10px;
            top: 5px;
        }

        .dropzone-wrapper {
            border: 2px dashed #91b0b3;
            color: #92b0b3;
            position: relative;
            height: 150px;
            margin-top: 50px;

        }

        .dropzone-desc {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            text-align: center;
            width: 40%;
            top: 50px;
            font-size: 16px;
        }

        .dropzone,
        .dropzone:focus {
            position: absolute;
            outline: none !important;
            width: 100%;
            height: 150px;
            cursor: pointer;
            opacity: 0;
        }

        .dropzone-wrapper:hover,
        .dropzone-wrapper.dragover {
            background: #ecf0f5;
        }

        .preview-zone {
            text-align: center;
        }

        .preview-zone .box {
            box-shadow: none;
            border-radius: 0;
            margin-bottom: 0;
        }
    </style>
    <link rel="shorcut icon" href="/public/img/ristekdikti2.png">
    <title>Admin - Add to Blockchain</title>
    <!-- Input CSS atau JS yang dibutuhkan setelah line ini -->
    <!-- Taruh file css di folder /css-->
    <!-- Taruh file js di /js-->

    <!-- Contoh cara input css, ganti sesuai kebutuhan -->
</head>

<body>
    <div class="container-fluid p-0">
        <div class="row equal no-gutters">
            <%- include("sidebar.ejs") %>
            <div class="col-12 col-sm-8 col-md-9 col-xl-10 wrapper">
                <%- include("topmenu.ejs") %>
                <div class="col-12 wrapper-container">
                    <div class="main-wrapper">
                        <div class="container">

                            <div class="row">
                                <!-- Silakan masukkan code tampilan divisi Anda di bagian ini. -->

                                <!-- Dibawah ini adalah template box yang kalian bisa pakai untuk pengembangan sistem -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group">
                                                <div class="preview-zone hidden">
                                                    <div class="box box-solid">
                                                        <div class="box-header with-border">
                                                            <div><b>Preview</b></div>
                                                        </div>
                                                        <div class="box-body"></div>
                                                    </div>
                                                </div>
                                                <div class="dropzone-wrapper">
                                                    <div class="dropzone-desc">
                                                        <i class="glyphicon glyphicon-download-alt"></i>
                                                        <p>Drag and drop your file or <button>select file</button></p>
                                                    </div>
                                                    <input type="file" id="hashFile" class="dropzone" name="img_logo">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type='button' id="sendHashButton" onclick="send()" class="btn"
                                                    style="background-color: cornflowerblue; color:black;">
                                                    Submit Blockchain
                                                </button>
                                            </div>
                                            <div id=responseText></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class='box'>
                                            <marquee behavior="" direction="" style="color:red">Tata Cara</marquee>
                                            <h7>1. Seret dan Jatuhkan File Ijazah dan Transkrip.</h7><br>
                                            <h7>2. Klik 'Submit Blockchain' maka API Ethereum akan mendeteksi adanya
                                                transaksi baru.</h7><br>
                                            <h7>3. Pastikan saldo ETH tersedia.</h7> <br>
                                            <h7>4. Cek Transaksi <a href="https://ropsten.etherscan.io/"
                                                    target="_blank">https://ropsten.etherscan.io/
                                                </a> </h7>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous">
    </script>
    <script>
        function readFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var htmlPreview =
                        '<img width="200" src="' + e.target.result + '" />' +
                        '<p>' + input.files[0].name + '</p>';
                    var wrapperZone = $(input).parent();
                    var previewZone = $(input).parent().parent().find('.preview-zone');
                    var boxZone = $(input).parent().parent().find('.preview-zone').find('.box').find('.box-body');

                    wrapperZone.removeClass('dragover');
                    previewZone.removeClass('hidden');
                    boxZone.empty();
                    boxZone.append(htmlPreview);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function reset(e) {
            e.wrap('<form>').closest('form').get(0).reset();
            e.unwrap();
        }
        $(".dropzone").change(function () {
            readFile(this);
        });
        $('.dropzone-wrapper').on('dragover', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).addClass('dragover');
        });
        $('.dropzone-wrapper').on('dragleave', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).removeClass('dragover');
        });
        $('.remove-preview').on('click', function () {
            var boxZone = $(this).parents('.preview-zone').find('.box-body');
            var previewZone = $(this).parents('.preview-zone');
            var dropzone = $(this).parents('.form-group').find('.dropzone');
            boxZone.empty();
            previewZone.addClass('hidden');
            reset(dropzone);
        });
    </script>

    <script src="/public/js/sha256.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
    <script src="/public/js/notaryWebLib.js"></script>
    <script src="/public/js/app.js"></script>
    <!-- TODO: Step 1: Include Fortmatic SDK Script -->
    <script src="/public/fortmatic/dist/fortmatic.js"></script>
    <!-- End Step 1 -->

</body>

</html>