html,
body {
  background-color: #1c3b61;
  color: #555;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}


.img1:hover {
  padding-top: 5px;
}


.img2:hover {
  padding-top: 5px;
}


#sticky-footer {
  flex-shrink: none;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 80%;
}

.led-yellow {
  margin: 0 auto;
  width: 15px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@-moz-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@-ms-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@-o-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}